html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* -----------------------BODY ------------------------------- */
header, nav, .main-1, footer {
  max-width: 640px;
  font-family: "lato"; }

body {
  font-family: "lato";
  font-weight: 300;
  font-size: 16px; }

/* ------------------------HEADER----------------------------- */
header {
  position: fixed;
  top: 0;
  font-size: 32px;
  padding: 20px;
  color: #429EA6;
  background-color: white;
  width: 100%;
  text-align: center;
  margin-top: 0px; }

/* ------------------------END HEADER----------------------------- */
/* ------------------------ENDTOPNAV----------------------------- */
Nav {
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: #429EA6;
  height: 70px; }
  Nav li {
    float: left;
    text-decoration: none;
    list-style-type: none;
    width: 14%;
    padding: 20px 1px 20px 1px;
    color: #ffffff;
    font-size: 12px; }
    Nav li a:link {
      text-decoration: none;
      color: #ffffff; }
    Nav li a:visited {
      color: #ffffff; }
  Nav li a:hover {
    background-color: #4B0082;
    width: 100%;
    padding: 20px 1px 20px 1px; }

/* ------------------------MAIN----------------------------- */
figure.images {
  width: 100%; }

figure.images img {
  width: 100%; }

figure.gitImage {
  width: 50%; }

figure.gitImage img {
  width: 100%;
  float: right; }

/* ------------------------ABOUT ME----------------------------- */
.main-1 {
  margin: 50px; }
  .main-1 .EmptyTop {
    padding: 50px; }
  .main-1 h1 {
    float: left;
    margin: 40px 25px;
    font-size: 42px; }
  .main-1 p {
    clear: both;
    font-size: 24px;
    line-height: 1.5;
    margin: 25px;
    text-align: left; }
    .main-1 p .Me {
      clear: both;
      float: left;
      margin: 0px 10px; }
  .main-1 figure.svelteImage {
    width: 100%; }
  .main-1 figure.svelteImage img {
    width: 100%; }
  .main-1 figure.npmImage {
    width: 100%; }
  .main-1 figure.npmImage img {
    width: 100%; }
  .main-1 figure.tsImage {
    width: 100%; }
  .main-1 figure.tsImage img {
    width: 100%; }
  .main-1 figure.unitImage {
    width: 100%; }
  .main-1 figure.unitImage img {
    width: 100%; }
  .main-1 figure.gitImage {
    width: 100%; }
  .main-1 figure.gitImage img {
    width: 100%; }
  .main-1 figure.rlImage {
    width: 100%; }
  .main-1 figure.rlImage img {
    width: 100%; }
  .main-1 .row {
    max-width: 650px; }
  .main-1 .column {
    -webkit-column-gap: normal;
    /* Chrome, Safari, Opera */
    -moz-column-gap: normal;
    /* Firefox */ }
  .main-1 .sm-1 {
    width: 8.3333333333%;
    float: left; }
  .main-1 .sm-2 {
    width: 16.6666666667%;
    float: left; }
  .main-1 .sm-3 {
    width: 25%;
    float: left; }
  .main-1 .sm-4 {
    width: 33.3333333333%;
    float: left; }
  .main-1 .sm-5 {
    width: 41.6666666667%;
    float: left; }
  .main-1 .sm-6 {
    width: 50%;
    float: left; }
  .main-1 .sm-7 {
    width: 58.3333333333%;
    float: left; }
  .main-1 .sm-8 {
    width: 66.6666666667%;
    float: left; }
  .main-1 .sm-9 {
    width: 75%;
    float: left; }
  .main-1 .sm-10 {
    width: 83.3333333333%;
    float: left; }
  .main-1 .sm-11 {
    width: 91.6666666667%;
    float: left; }
  .main-1 .sm-12 {
    width: 100%;
    float: left; }

/* ------------------------FOOTER----------------------------- */
div#wrapperFooter {
  z-index: 999;
  box-shadow: 2px 2px 10px 0px #666666;
  height: 75px;
  margin-top: 100px; }

footer {
  height: 75px;
  margin-top: 100px;
  /*    
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 2; grid-column: 1; }     
  div.banana { grid-row: 3; grid-column: 1; }  
  div.plum { grid-row: 4; grid-column: 1; }        
      
   */ }
  footer p {
    padding: 2rem 0;
    font-size: .9rem;
    text-align: center; }

/* ------------------------Clearfix: Force an Element not to collapse----------------------------- */
.clearfix:after {
  content: "";
  display: table; }

@media only screen and (min-width: 600px) {
  header, nav, .main-1 {
    max-width: 1800px;
    margin: 0 auto; }

  /* ------------------------HEADER----------------------------- */
  header {
    background-color: #ffffff;
    width: 100%; }

  /* ------------------------NAV----------------------------- */
  nav li {
    font-size: 16px; }

  /*-------------------- MAIN ------------------------------ */
  .main-1 {
    /* ------------------------Column----------------------------- */ }
    .main-1 figure.svelteImage {
      width: 100%; }
    .main-1 figure.svelteImage img {
      width: 47%;
      margin: 10px;
      float: left; }
    .main-1 figure.npmImage {
      width: 100%; }
    .main-1 figure.npmImage img {
      width: 47%;
      margin: 10px;
      float: right; }
    .main-1 figure.tsImage {
      width: 100%; }
    .main-1 figure.tsImage img {
      width: 47%;
      margin: 10px;
      float: left;
      border: 1px solid #4B0082; }
    .main-1 figure.unitImage {
      width: 100%; }
    .main-1 figure.unitImage img {
      width: 47%;
      margin: 10px;
      float: right; }
    .main-1 figure.gitImage {
      width: 100%; }
    .main-1 figure.gitImage img {
      width: 47%;
      margin: 10px;
      float: left; }
    .main-1 figure.rlImage {
      width: 100%; }
    .main-1 figure.rlImage img {
      width: 47%;
      margin: 10px;
      float: right; }
    .main-1 .row {
      max-width: 1800px; }
    .main-1 .column {
      -webkit-column-gap: normal;
      /* Chrome, Safari, Opera */
      -moz-column-gap: normal;
      /* Firefox */ }
    .main-1 .md-1 {
      width: 8.3333333333%;
      float: left; }
    .main-1 .md-2 {
      width: 16.6666666667%;
      float: left; }
    .main-1 .md-3 {
      width: 25%;
      float: left; }
    .main-1 .md-4 {
      width: 33.3333333333%;
      float: left; }
    .main-1 .md-5 {
      width: 41.6666666667%;
      float: left; }
    .main-1 .md-6 {
      width: 50%;
      float: left; }
    .main-1 .md-7 {
      width: 58.3333333333%;
      float: left; }
    .main-1 .md-8 {
      width: 66.6666666667%;
      float: left; }
    .main-1 .md-9 {
      width: 75%;
      float: left; }
    .main-1 .md-10 {
      width: 83.3333333333%;
      float: left; }
    .main-1 .md-11 {
      width: 91.6666666667%;
      float: left; }
    .main-1 .md-12 {
      width: 100%;
      float: left; }

  /*----------------FOOTER--------------------
  
  
  footer {
      grid-template-columns: 1fr 1fr;
      
    
      
   p {
       text-align: center;   
       grid-column: 1 / span 2;  
      }
           
      
      
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 1; grid-column: 2;}     
  div.banana { grid-row: 2; grid-column: 1; }  
  div.plum { grid-row: 2; grid-column: 2; }        
      
   
      
  }    
  
  
  
  div#wrapperFooter {
      clear: both; 
      background-color: $primaryColor;
  }
  
  
  
  
  
      
  ----------------END FOOTER--------------------*/ }
/* end media query */
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  /* -----------------------BODY ------------------------------- */
  header, nav, .main-1, footer {
    max-width: 2400px;
    margin: 0 auto; }

  /*-------------------- HEADER ------------------------------ */
  header {
    width: 100%;
    background-color: #ffffff; }

  /*-------------------- NAV ------------------------------ */
  #navWrapper {
    background-color: #4B0082; }

  /*-------------------- MAIN ------------------------------ */
  .main-1 {
    /* ------------------------Column----------------------------- */ }
    .main-1 #headerWrapper {
      background-color: #4B0082; }
    .main-1 .headerMotto {
      clear: both;
      width: 100%;
      text-align: center;
      height: 850px; }
    .main-1 figure.bookcoverimage {
      width: 100%;
      margin: 0 auto; }
    .main-1 figure.bookcoverimage img {
      width: 100%; }
    .main-1 figure.myImage {
      width: 100%; }
    .main-1 figure.myImage img {
      width: 25%;
      float: right;
      padding: 10px; }
    .main-1 .row {
      max-width: 1800px; }
    .main-1 .column {
      -webkit-column-gap: normal;
      /* Chrome, Safari, Opera */
      -moz-column-gap: normal;
      /* Firefox */ }
    .main-1 .lg-1 {
      width: 8.3333333333%;
      float: left; }
    .main-1 .lg-2 {
      width: 16.6666666667%;
      float: left; }
    .main-1 .lg-3 {
      width: 25%;
      float: left; }
    .main-1 .lg-4 {
      width: 33.3333333333%;
      float: left; }
    .main-1 .lg-5 {
      width: 41.6666666667%;
      float: left; }
    .main-1 .lg-6 {
      width: 50%;
      float: left; }
    .main-1 .lg-7 {
      width: 58.3333333333%;
      float: left; }
    .main-1 .lg-8 {
      width: 66.6666666667%;
      float: left; }
    .main-1 .lg-9 {
      width: 75%;
      float: left; }
    .main-1 .lg-10 {
      width: 83.3333333333%;
      float: left; }
    .main-1 .lg-11 {
      width: 91.6666666667%;
      float: left; }
    .main-1 .lg-12 {
      width: 100%;
      float: left; }

  /*-------------------- FOOTER ------------------------------ */
  /*
  footer { 
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
      
      p {
       text-align: center;   
       grid-column: 2 / span 2;  
      }
       
      
      
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 1; grid-column: 2; }     
  div.banana { grid-row: 1; grid-column: 3; }  
  div.plum { grid-row: 1; grid-column: 4; }        
      
      
      
      
      
      
      
      
      
      
      
  }*/
  /*
  
  div#wrapperFooter {
      clear: both; 
      background-color: $thirdColor;
  }
  
  
  */ }
/* end media query */
