 /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }





 /* -----------------------BODY ------------------------------- */ 

header, nav, main, footer {max-width: 1500px; font-family: "lato";}



body{
    font-family: $defaultFont; 
    font-weight: $normalWeight; 
    font-size: 16px; 
    
}

/* ------------------------HEADER----------------------------- */

header {
font-size: 32px; 
padding: 20px; 
color: $secondaryColor; 

}




/* ------------------------END HEADER----------------------------- */








/* ------------------------ENDTOPNAV----------------------------- */



Nav {
width: 100%; 
background-color: $secondaryColor; 
height: 50px; 

li  { 
float: left; 
list-style-type: none; 
width: 25%; 
padding: 15px; 
color: $fontColor; 

a:hover {
background-color: $primaryColor; 
width: 100%;  
    
    
    
    
}

}

}



/* ------------------------MAIN----------------------------- */

main {
    //min-height: 20rem;
    //padding: 1rem 2%;
    //display: grid; 
    //grid-template-columns: 1fr;
    //grid-column-gap: 10px;
    //grid-row-gap: 10px;  
    
     
 

}

/* ------------------------ABOUT ME----------------------------- */

.main-1 {
margin: 50px; 

h1 {
float: left; 
margin: 20px; 
font-size: 26px; 

}

.Me {
clear: both; 
float: left; 
margin: 10px; 



}

}


/* ------------------------FOOTER----------------------------- */

div#wrapperFooter {
   // background-color: $thirdColor;
    z-index: 999;
    box-shadow: 2px 2px 10px 0px #666666; 
    height: 75px; 
    margin-top: 100px; 
}




footer {
   // background-color: $thirdColor; 
    height: 75px;   
    margin-top: 100px;
   
    
    p {  
 //     color: $white; 
      padding: 2rem 0;     
      font-size: .9rem;
      text-align: center; 
     
      p a {
      //  color: $white;  
         
     } 

     
        
    }  // end p 
    
   
    
/*    
   
div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
div.pear { grid-row: 2; grid-column: 1; }     
div.banana { grid-row: 3; grid-column: 1; }  
div.plum { grid-row: 4; grid-column: 1; }        
    
 */   
    
   




}







/* ------------------------Clearfix: Force an Element not to collapse----------------------------- */
 
    .clearfix:after {
        content: ""; 
        display: table; 
        
        
    }    
    





